.hide{display: none}
.show{display: inline-block;}
.lineThrough {text-decoration: line-through;opacity: 0.5}
.lineNone {text-decoration: none}
div{display: inline-block;width: 100%}    
li{height: 40px;list-style-type: none;border: 0.5px solid gray;margin: 0px;margin: 5px;-moz-user-select: none;position: relative}
a{float: right}
a.show{color : red;text-decoration: none}
input[type="text"]#input{width: 50%;height: 40px;border: 1.5px solid gray;border-radius: 0.5em;font-size: 20px}
input[type="checkbox"]{float: left;color: red}
ul>li label{float: left;margin-left: 10px;font-size: 20px;font-weight: bold;}
input.edit:focus{opacity:1;width: 200px;height: 20px;z-index: 999}
input.edit {opacity: 0;width: 0;height: 0;display: inline-block;}